include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include material_master *.css
recursive-include material_master *.csv
recursive-include material_master *.html
recursive-include material_master *.ico
recursive-include material_master *.js
recursive-include material_master *.json
recursive-include material_master *.md
recursive-include material_master *.png
recursive-include material_master *.py
recursive-include material_master *.svg
recursive-include material_master *.txt
recursive-exclude material_master *.pyc